---
---

@import "{{ site.theme }}";

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #047ecb;
  color: #000000;
}

.page-header {
  color: #fff;
  text-align: center;
  background-color: #047ecb;
  background-image: unset;
  background: url(../images/header-2024.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, roboto, noto, "segoe ui", arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
}

a {
  color: #7561b6;
}

.blog-year {
  cursor: pointer;
}

img.avatar {
  border-radius: 100px;
}

.main-content code {
  font-family: "JetBrains Mono", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

body {
  transition: background-color 0.5s, color 0.5s;
}

body.light-mode {
  background-color: white;
  color: black;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark-mode h1, body.dark-mode h2, body.dark-mode h3, body.dark-mode h4, body.dark-mode h5, body.dark-mode h6 {
  color: #7561b6
}
