---
---

@import "{{ site.theme }}";

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #047ecb;
  color: #000000;
}

.page-header {
  color: #fff;
  text-align: center;
  background-color: #047ecb;
  background-image: unset;
  background: url(../images/header-2021.jpeg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  padding: 0;
  margin: 0;
  font-family: Inter,-apple-system,BlinkMacSystemFont,"helvetica neue",helvetica,roboto,noto,"segoe ui",arial,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
}

a {
  color: #047ecb;
}

.blog-year {
  cursor: pointer;
}

img.avatar {
  border-radius: 100px;
}