<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
    <meta charset="UTF-8">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}" />
    {% endif %}
    <link rel="alternate" type="application/rss+xml" title="Subscribe to What's New"
        href="https://odan.github.io/feed.xml" />
    <!-- <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>-->
    <!-- <link href='https://fonts.googleapis.com/css?family=JetBrains+Mono:wght@100' rel='stylesheet'>-->
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=inter:400,700|jetbrains-mono:400" rel="stylesheet" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
    <script src="//code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script>
        function toggleDark(r) {
            const container = document.body;
            const dataTheme = container.getAttribute("data-theme");
            let theme_switch;
            if (dataTheme === "light") {
                theme_switch = 1
            } else {
                theme_switch = 0
            }
            if (r) { theme_switch = !theme_switch }

            if (theme_switch) {
                container.setAttribute("data-theme", "dark");
                document.getElementById("night").style.display = "block";
                document.getElementById("light").style.display = "none";
                localStorage.setItem("data-theme", "dark");
            } else {
                container.setAttribute("data-theme", "light");
                document.getElementById("night").style.display = "none";
                document.getElementById("light").style.display = "block";
                localStorage.setItem("data-theme", "light");
            }
        }
    </script>
</head>

<body>
    <header class="page-header" role="banner">
        <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
        <a href="{{site.github.url }}" class="btn">Blog</a>
        <a href="{{site.github.url }}/about.html" class="btn">About me</a>
        <a href="{{site.github.url }}/donate.html" class="btn">Donate</a>
        {% if site.github_profile.url %}
        <a href="{{ site.github_profile.url }}" class="btn" target="_blank">GitHub</a>
        {% endif %}
        {% if site.twitter.url %}
        <a href="{{ site.twitter.url }}" class="btn" target="_blank">Twitter</a>
        {% endif %}
        {% if site.linkedin.url %}
        <a href="{{ site.linkedin.url }}" class="btn" target="_blank">LinkedIn</a>
        {% endif %}
        {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
        {% endif %}
        {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
        {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
        {{ content }}

        <footer class="site-footer">
            {% if site.github.is_project_page %}
            <span class="site-footer-owner"><a
                    href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a
                    href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
            {% endif %}
            <!-- <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span> -->

            © {{ site.time | date: "%Y" }} Daniel Opitz | <a href="https://twitter.com/dopitz"
                target="_blank">Twitter</a>

        </footer>
    </main>

    {% if site.google_analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135908404-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}

    <button id="darkmode" type="button" onclick="toggleDark()">
        <span id="night" class="material-icons">mode_night </span>
        <span id="light" class="material-icons">light_mode</span>
    </button>

    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            if (localStorage.getItem("data-theme")) {
                document.body.setAttribute("data-theme", localStorage.getItem("data-theme"));
                toggleDark(1)
            }
        });
    </script>
</body>

</html>